<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.MenuMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.entity.Menu">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="parentid" jdbcType="INTEGER" property="parentid" />
    <result column="sortid" jdbcType="INTEGER" property="sortid" />
    <result column="urladdress" jdbcType="VARCHAR" property="urladdress" />
    <result column="permissionid" jdbcType="INTEGER" property="permissionid" />
    <result column="menuicon" jdbcType="VARCHAR" property="menuicon" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, parentid, sortid, urladdress, permissionid, menuicon
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from menu
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from menu
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.demo.entity.Menu">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into menu (name, parentid, sortid, 
      urladdress, permissionid, menuicon
      )
    values (#{name,jdbcType=VARCHAR}, #{parentid,jdbcType=INTEGER}, #{sortid,jdbcType=INTEGER}, 
      #{urladdress,jdbcType=VARCHAR}, #{permissionid,jdbcType=INTEGER}, #{menuicon,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.entity.Menu">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="parentid != null">
        parentid,
      </if>
      <if test="sortid != null">
        sortid,
      </if>
      <if test="urladdress != null">
        urladdress,
      </if>
      <if test="permissionid != null">
        permissionid,
      </if>
      <if test="menuicon != null">
        menuicon,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null">
        #{parentid,jdbcType=INTEGER},
      </if>
      <if test="sortid != null">
        #{sortid,jdbcType=INTEGER},
      </if>
      <if test="urladdress != null">
        #{urladdress,jdbcType=VARCHAR},
      </if>
      <if test="permissionid != null">
        #{permissionid,jdbcType=INTEGER},
      </if>
      <if test="menuicon != null">
        #{menuicon,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.entity.Menu">
    update menu
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null">
        parentid = #{parentid,jdbcType=INTEGER},
      </if>
      <if test="sortid != null">
        sortid = #{sortid,jdbcType=INTEGER},
      </if>
      <if test="urladdress != null">
        urladdress = #{urladdress,jdbcType=VARCHAR},
      </if>
      <if test="permissionid != null">
        permissionid = #{permissionid,jdbcType=INTEGER},
      </if>
      <if test="menuicon != null">
        menuicon = #{menuicon,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.entity.Menu">
    update menu
    set name = #{name,jdbcType=VARCHAR},
      parentid = #{parentid,jdbcType=INTEGER},
      sortid = #{sortid,jdbcType=INTEGER},
      urladdress = #{urladdress,jdbcType=VARCHAR},
      permissionid = #{permissionid,jdbcType=INTEGER},
      menuicon = #{menuicon,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.example.demo.entity.Menu">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="parentid" jdbcType="INTEGER" property="parentid" />
    <result column="sortid" jdbcType="INTEGER" property="sortid" />
    <result column="urladdress" jdbcType="VARCHAR" property="urladdress" />
    <result column="permissionid" jdbcType="INTEGER" property="permissionid" />
    <result column="menuicon" jdbcType="VARCHAR" property="menuicon" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, parentid, sortid, urladdress, permissionid, menuicon
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from menu
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from menu
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.demo.entity.Menu">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into menu (name, parentid, sortid, 
      urladdress, permissionid, menuicon
      )
    values (#{name,jdbcType=VARCHAR}, #{parentid,jdbcType=INTEGER}, #{sortid,jdbcType=INTEGER}, 
      #{urladdress,jdbcType=VARCHAR}, #{permissionid,jdbcType=INTEGER}, #{menuicon,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.entity.Menu">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="parentid != null">
        parentid,
      </if>
      <if test="sortid != null">
        sortid,
      </if>
      <if test="urladdress != null">
        urladdress,
      </if>
      <if test="permissionid != null">
        permissionid,
      </if>
      <if test="menuicon != null">
        menuicon,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null">
        #{parentid,jdbcType=INTEGER},
      </if>
      <if test="sortid != null">
        #{sortid,jdbcType=INTEGER},
      </if>
      <if test="urladdress != null">
        #{urladdress,jdbcType=VARCHAR},
      </if>
      <if test="permissionid != null">
        #{permissionid,jdbcType=INTEGER},
      </if>
      <if test="menuicon != null">
        #{menuicon,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.entity.Menu">
    update menu
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null">
        parentid = #{parentid,jdbcType=INTEGER},
      </if>
      <if test="sortid != null">
        sortid = #{sortid,jdbcType=INTEGER},
      </if>
      <if test="urladdress != null">
        urladdress = #{urladdress,jdbcType=VARCHAR},
      </if>
      <if test="permissionid != null">
        permissionid = #{permissionid,jdbcType=INTEGER},
      </if>
      <if test="menuicon != null">
        menuicon = #{menuicon,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.entity.Menu">
    update menu
    set name = #{name,jdbcType=VARCHAR},
      parentid = #{parentid,jdbcType=INTEGER},
      sortid = #{sortid,jdbcType=INTEGER},
      urladdress = #{urladdress,jdbcType=VARCHAR},
      permissionid = #{permissionid,jdbcType=INTEGER},
      menuicon = #{menuicon,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>